
<h1 class="addRecipeTitle">Add a Recipe</h1>

<div class="addRecipeDiv">
  <form class="" action="index.html" method="post">
    <input type="text" class="form-control" name="cover" ng-model="newRecipe.cover" placeholder="cover" value="">
    <input type="text" class="form-control" name="title" ng-model="newRecipe.title" placeholder="title" value="">
    <input type="textarea" class="form-control" ng-model="newRecipe.description" name="description" placeholder="description" value="">
    <button type="button" ng-mouseover="cRecipe(newRecipe)" name="button">Add Recipe</button>
  </form>
</div>
